{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
    {% comment %} <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div> {% endcomment %}
    
    <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Father Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Emergency Number</th>
            <th scope="col">Address</th>
            <th scope="col">Package</th>
          </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record, active in records_info %}
                    <tr onclick="window.location='{% url 'record' record.id %}'" style="cursor:pointer" {% if active %} class="table-danger" {% endif %}>
                        <td>{{ record.customer_name }}</td>
                        <td>{{ record.father_name }}</td>
                        <td>{{ record.phone_number }}</td>
                        <td>{{ record.emergency_number }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.package }}</td>       
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>    
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Log in</h1>
            <br/>
            <form method='POST' action="{% url 'home' %}">
                {% csrf_token %}
                <form>
                    <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-secondary">Login</button>
                </form>   

            </form>
        </div>

    {% endif %}



{% endblock %}