{% extends "base.html" %}
{% load static %}

{% block content %}
    {% comment %} <a href="{% url 'take_pictures' customer_record.id %}" class="btn btn-primary">Take Picture</a> {% endcomment %}
    {% comment %} <a href="{% url 'live' %}" class="btn btn-primary" target="_blank">View Live Feed</a> {% endcomment %}
    {% comment %} <a href="{% url 'test' %}" class="btn btn-primary">Test Pictures</a> {% endcomment %}
    {% comment %} <img src = "{% url 'live' %}"> {% endcomment %}
    <a href="{% url 'camera' customer_record.id %}" class="btn btn-primary">View Camera</a>
    <div class="row justify-content-between mt-4">
      <div class="col-4">
        <legend><strong>Customer Record</strong></legend>
      </div>
      <div class="col-1">
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        {% comment %} <label class="btn btn-outline-primary" for="btn-check-outlined">Paid</label><br> {% endcomment %}
      </div>
    </div>
    <form class="pb-4">
        <fieldset disabled>

          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Customer Name</label>
            <input type="text" class="form-control" value="{{ customer_record.customer_name }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Father Name</label>
            <input type="text" class="form-control" value="{{ customer_record.father_name }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Phone Number</label>
            <input type="text" class="form-control" value="{{ customer_record.phone_number }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Emergency Number</label>
            <input type="text" class="form-control" value="{{ customer_record.emergency_number }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Address</label>
            <input type="text" class="form-control" value="{{ customer_record.address }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Package</label>
            <input type="text" class="form-control" value="{{ customer_record.package }}">
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Remarks</label>
            <textarea class="form-control">{{ customer_record.remarks }}</textarea>
          </div>
        </fieldset>
    </form>
    <div class="container">
      <div class="row row-cols-5">
        {% for image in images %}
        <div class="col pb-4">
          <img src="{% static image %}" width="200px"/>
        </div>
        {% endfor %}
      </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update</a>
    {% comment %} <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Member?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{% url 'delete_record' customer_record.id %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}